<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Chatter</title>
</head>
<body>
    <h1>body</h1>
    <div class="container">
        <h1>Container</h1>
        <div class="chatter">

            <h1>Chatter</h1>
            <div class="contacts">
                <h1>Contacts</h1>
            </div>

            <div class="chat-box">
                <h1>Chat-box</h1>
                <div class="chat-logs">
                    <h1>Chat-log</h1>
                    <div class="chat friend">
                        <div class="user-photo"><img alt="to be added"></div>
                        <p class="chat-message">hi how r u??</p>
                    </div>
                    <div class="chat self">
                        <div class="user-photo"></div>
                        <p class="chat-message">A license key can be rejected by the software for one of the following reasons: ... Can't enter license, OK button disabled, key not accepted Follow. Avatar .... I am on Windows, maybe Webstorm could read the proxy settings from the registry?how r u??</p>
                        <p>!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="chat-form" id="fixbut">
                    <input type="text" placeholder="Type your message here !">
                    <button type="button" name="sendButton">Send</button>
                </div>
            </div>


        </div>
    </div>

</body>
</html>
